body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .word-card {
    background-color: #dedbed;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
  }

  .label {
    flex: 1;

  }

  h2 {
    color: #333;
    font-size: 24px;
  }

  p {
    color: #666;
    font-size: 16px;
  }

  .counter {
    font-size: 24px;
    margin-bottom: 20px;
    width: 48px;
    padding: 20px;

  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .toggled {
    background-color: #d1daf3;
  }